<nav class="navbar navbar-light startbg shadow-lg p-3 mb-5 rounded">
    <div class="container">
        <div class=" mt-5 text-center">
            <h1>O Argus</h1>
            <p class="mt-4">Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. 
                Porttitor rhoncus dolor purus non enim praesent elementum.</p>
          </div> 
         <div class="row">
             
           <div class="col-sm">
             <div class="card bg-transparent" style="width: 20rem;">
                 <img src="../../assets/campanha.jpeg" height="173">
                 <div class="card-body text-center">
                   <h5 class="card-title text-center">Discador</h5>
                   <p class="card-text">
                    Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. 
                    Porttitor rhoncus dolor purus non enim praesent elementum.
                     </p>
                   <a href="#contato" class="btn btn-danger text-light">Saiba mais</a>
                 </div>
               </div>
            
           </div>
          
           <div class="col-sm">
             <div class="card bg-transparent" style="width: 20rem;">
                 <img src="../../assets/discador.jpeg"  height="173">
                 <div class="card-body text-center">
                   <h5 class="card-title text-center">Monitoramento e Gravação</h5>
                   <p class="card-text">Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. 
                    Porttitor rhoncus dolor purus non enim praesent elementum.</p>
                   <a href="#contato"  class="btn btn-danger text-light">Saiba mais</a>
                 </div>
               </div>
            
           
           </div>
         
           <div class="col-sm">
             <div class="card bg-transparent" style="width: 20rem;">
                 <img src="../../assets/operacional.jpeg"  height="173">
                 <div class="card-body text-center">
                   <h5 class="card-title text-center">Campanhas Personalizadas</h5>
                   <p class="card-text">Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. 
                    Porttitor rhoncus dolor purus non enim praesent elementum.</p>
                   <a href="#contato" class="btn btn-danger text-light">Saiba mais</a>
                 </div>
               </div>
            
         
           </div>
         </div>
    
     
 
    </div>
 </nav>
 
 