
<app-header></app-header>
<app-navbar></app-navbar>

<main class="">
    
   
    <section id="home" class="mt-5 row justify-content-center container-fluid">
      <div class="col-md-4 img-home"><br>
        <img src="../../../assets/quemsomos.svg" class="image-slider"
          alt="Quem Somos">
      </div>
      <div class="col-md-4 text-section">
        <h1>Quem Somos</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
            Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. 
            Porttitor rhoncus dolor purus non enim praesent elementum. Ut eu sem integer vitae justo eget magna. Ut sem nulla pharetra diam sit amet nisl. 
            Nec feugiat nisl pretium fusce id velit ut tortor. Quis eleifend quam adipiscing vitae proin sagittis. Proin fermentum leo vel orci porta non pulvinar neque laoreet.<br><br> 
            Cras adipiscing enim eu turpis egestas pretium. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Enim praesent elementum facilisis leo vel. 
            Tellus orci ac auctor augue mauris. </p>
       
      </div>
    </section><br><br>
    <section class="hero" id="argus"><br>
       
        <app-argus></app-argus>
      </section>

    <section id="diferenciais" class="mt-5 row justify-content-center container-fluid">
        <div class="col-md-4 text-section">
            <h1>Diferenciais</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>

                Feugiat vivamus at augue eget arcu dictum. Condimentum lacinia quis vel eros donec. Tristique risus nec feugiat in fermentum. Porttitor rhoncus dolor purus non enim praesent elementum. <br><br>Ut eu sem integer vitae justo eget magna. Ut sem nulla pharetra diam sit amet nisl. Nec feugiat nisl pretium fusce id velit ut tortor. Quis eleifend quam adipiscing vitae proin sagittis. Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                
             </p>
           
          </div>
        <div class="col-md-4 img-home">
         &nbsp;&nbsp;&nbsp; <img src="../../../assets/diferenciais.svg" class="image-slider"
            alt="Diferenciais">
        </div>
        
      </section>
      <nav class="navbar navbar-light startnav shadow-lg p-3 mb-5 rounded">
      <section id="contato" class=" row justify-content-center container-fluid">
        <div class="col-md-4 img-home">
          <img src="../../../assets/contato.svg" class="image-slider"
            alt="Contato">
        </div>
        <div class="col-md-4 text-section">
          <h1>Contato</h1>
          <p> 

            Entre em contato conosco e saiba mais sobre o Argus, solicite um orçamento <br><br>
                  
            Email: contato@argus4com.com.br  </p>
           
            <form class="forms col-md-12 col-ls-12" action="" method="" class="mt-4">
                <div class="form-group">
                  <input type="name" class="col-md-8 col-lg-12 form-control" id="exampleFormControlInput1" placeholder="Nome Completo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control col-md-8 col-lg-12" id="exampleFormControlInput1" placeholder="Assunto">
                </div>
                <div class="form-group">
                  <textarea class="form-control col-md-8 col-lg-12" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Informações aqui"></textarea>
                </div>
                <button type="button submit" value="submit" class="btn btn-danger col-md-8 col-lg-12">Send</button>
              </form><br>
         
        </div>
      </section></nav>
    

    <br>
     

  </main>
   
        <footer class="container-fluid text-center" id="footer">Copyright 2020. Argus 4Com - Todos os direitos reservados.
            <p>&nbsp;</p>
        </footer>
